extends layout 

block content 
  main.recipes
    h1 Recipes based on #{title}
    if recipe_list.length > 0
      .recipe_list
        for recipe in recipe_list
          a(href=recipe.url) #{recipe.name}
    else
      p No recipes currently.
    .action-buttons
      a(href=`/film-sim/${film_sim._id}/update`) Update Film Simulation
      a(href=`/film-sim/${film_sim._id}/delete`) Delete Film Simulation
  