extends layout

block content
  main.recipe-detail
    h1= title
    .film-sim
      h3 Film Simulation
      a(href=recipe.film_sim_url) #{recipe.film_sim_name}
    .settings
      h3 Settings
      p Dynamic Range: #{recipe.dynamic_range}
      p Grain: #{recipe.grain}
      .color-fx
        p Color Chrome FX: #{recipe.ccfx}
        p Color Chrome FX Blue: #{recipe.ccfx_blue}
      .hs-curve
        p Highlight: #{recipe.highlight > 0 ? "+" + recipe.highlight : recipe.highlight}
        p Shadow: #{recipe.shadow > 0 ? "+" + recipe.shadow : recipe.shadow}
      .white-balance
        p White Balance: #{recipe.wb_style}
        p R:#{recipe.wb_shift_red > 0 ? "+" + recipe.wb_shift_red : recipe.wb_shift_red}      
          | &nbsp;B:#{recipe.wb_shift_blue > 0 ? "+" + recipe.wb_shift_blue : recipe.wb_shift_blue}
      .noise-settings
        p Sharpness: #{recipe.sharpness > 0 ? "+" + recipe.sharpness : recipe.sharpness}
        p Noise Reduction: #{recipe.noise_reduction > 0 ? "+" + recipe.noise_reduction : recipe.noise_reduction}
        p Clarity: #{recipe.clarity > 0 ? "+" + recipe.clarity : recipe.clarity}
      p ISO: Up to #{recipe.iso}
      p Exposure Comp: #{recipe.exposure_compensation_min} to #{recipe.exposure_compensation_max}
    .source
      h3 Source
      a(href=recipe.source_url) #{recipe.source_name}
    .reference
      h3 Reference Link
      if recipe.reference_url
        a(href=recipe.reference_url) Read More
      else
        p No reference link
    .action-buttons
      a(href=`/recipe/${recipe.id}/update`) Update Recipe
      a(href=`/recipe/${recipe.id}/delete`) Delete Recipe