extends layout

block content
  main.recipes
    h1 Recipes from #{source.name}
    p #{source.description}
    if recipe_list.length > 0
      .recipe_list
        for recipe in recipe_list
          a(href=recipe.url) #{recipe.name}
    else
      p No recipes currently.
    .action-buttons
      a(href=`/source/${source.id}/update`) Update Source
      a(href=`/source/${source.id}/delete`) Delete Source